* {
  padding: 4px;
  margin: 0;
  box-sizing: content-box;

}
body {
  display: center;
  justify-content: center;
  align-items: center;
  max-width:auto;
  height: auto;
  font-size: 18px;
  background: rgb(229,227,249);
}
table {
  text-align: center;
  width: 100%;
}
#MyText {
  width:auto;
  padding: 5px;
  margin-bottom: 1.5rem;
  font-size: 20px;
}
tr {
  line-height: 2rem;
}

/*CSS for Tabs*/
.header {
  background: rgb(255, 255, 255);
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.material-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}